---
---

@import "{{ site.theme }}";
body {
  background-color: #fff;
  padding:50px;
  font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000000;
  font-weight:400;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  color:#000;
  margin:0 0 20px;
}

