<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p style="text-align:center;"><img src="https://raw.githubusercontent.com/grandjeanmartin/intellectualcooperation/gh-pages/images/divider.png" width="25%"><br><b>INTELLECTUAL<br>COOPERATION</b><br><img src="https://raw.githubusercontent.com/grandjeanmartin/intellectualcooperation/gh-pages/images/divider.png" width="25%"></p>
      <table style="width:100%">
        <tr>
           <td>&nbsp;&nbsp;&nbsp;<a href="/">Homepage</a><br>
          </tr>  
          <tr>
            <td>THE BOOK</td>
          </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/the-book">The book (2025)</a><br>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/book-chapters">Chapters</a><br>
          </tr>
        <tr>
            <td>CENTENARY CONFERENCE</td>
          </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/program-2022">The 2022 conference</a><br>
          </tr>
         <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/book-of-abstracts-2022">Book of abstracts</a><br>
        </tr>
          <tr>
            <td>RESOURCES</td>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/archives">Archives</a><br>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/publications">Bibliography</a><br>
          </tr>
         <tr>
            <td>ABOUT</td>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/about">About this website</a><br>
          </tr>
        </table>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>
