<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p style="text-align:center;"><img src="https://raw.githubusercontent.com/grandjeanmartin/intellectualcooperation/gh-pages/images/divider.png" width="100%"><br><b>INTELLECTUAL<br>COOPERATION</b><br>2022<br><img src="https://raw.githubusercontent.com/grandjeanmartin/intellectualcooperation/gh-pages/images/divider.png" width="100%"></p>
      <table style="width:100%">
        <tr>
           <td>&nbsp;&nbsp;&nbsp;<a href="/">Homepage</a><br>
          </tr>  
        <tr>
            <td>CONFERENCE</td>
          </tr>
           <tr>
           <td>&nbsp;&nbsp;&nbsp;<a href="/callforpapers">Call for papers</a><br>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/committee">Scientific Committee</a><br>
          </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/informations">Practical Informations</a><br>
          </tr>
          <tr>
            <td>RESOURCES</td>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/archives">The archives of IC</a><br>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/publications">Publications on IC</a><br>
          </tr>
         <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/projects">Projects and links</a><br>
          </tr>
         <tr>
            <td>ABOUT</td>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/about">About</a><br>
          </tr>
        </table>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small><a href="http://www.martingrandjean.ch">M.Grandjean</a> 2021 | Source code on <a href="https://github.com/grandjeanmartin/intellectualcooperation/tree/gh-pages">Github</a> | DOI: <a href="https://doi.org/10.5281/zenodo.4583783">10.5281/zenodo.4583783</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
