<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p style="text-align:center;"><a href="https://lausannecitationstyle.github.io/support/"><img src="https://raw.githubusercontent.com/LausanneCitationStyle/Support/master/media/lausannelogo.png" alt="Lausanne citation style" style="width:200px;"></a>
          <br><b>Style bibliographique</b><br>et intégration à Zotero</p>
        <table style="width:100%">
          <tr>
            <td><b><a href="https://lausannecitationstyle.github.io/support/">ACCUEIL</a></b></td>
          </tr>
          <tr>
            <td>STYLE BIBLIOGRAPHIQUE</td>
          </tr>
          <tr>
           <td>&nbsp;&nbsp;&nbsp;<a href="https://lausannecitationstyle.github.io/support/style-lausanne.html">Le style "Lausanne"</a><br>
             &nbsp;&nbsp;&nbsp;<small>Description, guide bibliographique.</small></td>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="https://lausannecitationstyle.github.io/support/lausanne-zotero.html">Usage du style avec Zotero</a><br>
             &nbsp;&nbsp;&nbsp;<small>Installation, limites, ajustements.</small></td>
          </tr>
          <tr>
            <td>TUTORIEL ZOTERO</td>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="https://lausannecitationstyle.github.io/support/1.html">Mise en place</a><br>
             &nbsp;&nbsp;&nbsp;<small>Installation, interface, synchronisation.</small></td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="https://lausannecitationstyle.github.io/support/2.html">Import des références</a><br>
            &nbsp;&nbsp;&nbsp;<small>Champs, PDF, import automatique.</small></td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="https://lausannecitationstyle.github.io/support/3.html">Gestion des références</a><br>
            &nbsp;&nbsp;&nbsp;<small>Collections, marqueurs, notes, groupes.</small></td>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="https://lausannecitationstyle.github.io/support/4.html">Usage des références</a><br>
             &nbsp;&nbsp;&nbsp;<small>Export, notes de bas de pages.</small></td>
          </tr>
          <tr>
            <td>RESSOURCES</td>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="https://lausannecitationstyle.github.io/support/ressources.html">Liens utiles</a><br>
             &nbsp;&nbsp;&nbsp;<small>Vidéos, tutoriels, retours d'expérience.</small></td>
          </tr>
        </table>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
